@keyframes logoFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes divmoveup {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
        display: none;
    }
}

.logo-fade-in {
    animation: logoFadeIn 2s ease-in-out;
}

.divmoveup {
    animation: divmoveup 1.5s 2s ease-in-out forwards; /* Added 'forwards' */
}
